body{
  background: url(../img/BG.png) top repeat-x #0c739f;
  font-size:13px;
  font-family: Tahoma;
}
.allpage{
  width:1000px;
  margin:  auto;
  background-color: #ffffff;
  line-height: 25px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.8);
}
.header{
  padding:9px 30px 0px 30px;
  line-height: 15px;
  color:#6699cc;
  list-style: none;
}
.logo{
  width: 550px;
  float: left;
}
.contacts{
  line-height: 17px;
  float: right;
  font-size:12px;
}
.contries{
  float: right;
  width: 360px;
  margin-top: 37px;
  font-size: 10px;
  line-height: 12px;
}
.contries li{
  width: 60px;
  float:left;
  text-align: center;
}
.contries li span{
  text-align: center;
}
.pictures{
  border-top:1px solid #009999;
  border-bottom: 1px solid #009999;
  height: 237px;
}
.menu{
  background: #333333;
  border-bottom: 1px solid #000000;
  padding-left:45px;
}
.nav li a{
  margin-left 40px;
}
.nav li{
  float: left;
  position:relative;
  display:block;
}
.nav li a{
  float:left;
  color:#ffffff;
  text-decoration: none;
  display:block;
  padding-right: 55px;
  padding-left: 10px;
  border-bottom: 1px solid rgba(255,255,255,0);
}
.nav ul{
  list-style:none;
  position:absolute;
  left:-9999px;
  opacity:0;
  top: 26px;
  box-shadow: 0 5px 5px rgba(0,0,0,0.9);
}
.nav li:hover ul{
	left:0;
  opacity:1;
  background: #333333;
}
.nav li a:hover{
	color:#fff;
	background: #333333;
}
.nav li a:hover{
  border-bottom: 1px solid #000000;
}
.content{
  width: 1000px;
  background:url(../img/content.png);
  float:left;
}
.rightcontent{
 width: 210px;
 float: right;
}
.rightcontent h1{
  font-size: 18px;
  color: #333333;
  line-height: 35px;
  text-align: center;
  font-weight: bold;
}
.rightcontent p{
  margin: 8px 20px;
}
.centercontent{
 width: 580px;
 float:left;
}
.leftcontent{
  width: 210px;
  float: left;
}
.leftcontent h1{
  font-size: 18px;
  color: #333333;
  line-height: 35px;
  text-align: center;
  font-weight: bold;
}
.leftcontent p{
  margin: 8px 20px;
}
.footer{
  color: #ccffff;
  text-align:center;
  margin:9px;
}
.clearfix:after {
 content:'';
 clear: both;
 display: block;
}